<div class='subForm'>
  <h2>Sub-Form ({{ fg.status }})</h2>
  <strong>Value:</strong> {{ fg.value | json }}
</div>
<form [formGroup]="fg">
  <div class="formRow">
    <label for="addressLine1">Address Line 1:</label><br />
    <input type="text" formControlName="addressLine1" name="addressLine1" id="addressLine1" />
    <div *ngIf="fg.controls.addressLine1.errors && fg.controls.addressLine1.errors.required" class="errorText">
      Required field
    </div>
  </div>
  <div class="formRow">
    <label for="addressLine2">Address Line 2:</label><br />
    <input type="text" formControlName="addressLine2" name="addressLine2" id="addressLine2" />
    <div *ngIf="fg.controls.addressLine2.errors && fg.controls.addressLine2.errors.required" class="errorText">
      Required field
    </div>
  </div>
  <div class="formRow">
    <label for="town">Town: </label><br />
    <input type="text" formControlName="town" name="town" id="town" />
    <div *ngIf="fg.controls.town.errors && fg.controls.town.errors.required" class="errorText">
      Required field
    </div>
  </div>
  <div class="formRow">
    <label for="postcode">Postcode: </label><br />
    <input type="text" formControlName="postcode" name="postcode" id="postcode" />
    <div *ngIf="fg.controls.postcode.errors && fg.controls.postcode.errors.required" class="errorText">
      Required field
    </div>
  </div>
  <div class="formRow">
    <label for="county">County:</label><br />
    <input type="text" formControlName="county" name="county" id="county" />
    <div *ngIf="fg.controls.county.errors && fg.controls.county.errors.required" class="errorText">
      Required field
    </div>
  </div>
  <div class="formRow">
    <label for="country">Country:</label><br />
    <input type="text" formControlName="country" name="country" id="country" />
    <div *ngIf="fg.controls.country.errors && fg.controls.country.errors.required" class="errorText">
      Required field
    </div>
  </div>
  <div class="formRow">
    <button (click)="reset();">Reset</button>
  </div>
</form>
