<div class='subForm'><b>Sub Form</b></div>
<form [formGroup]="addressForm">
  <p>
    <label for="number">House Name / Number: </label><br/>
    <input type="text" formControlName="addressNumber" name="addressNumber" id="addressNumber" value="{{ value.addressNumber }}" (change)="formUpdate($event)" />
  </p>
  <p>
    <label for="street">Address Line 1:</label><br/>
    <input type="text" formControlName="addressLine1" name="addressLine1" id="addressLine1" value="{{ value.addressLine1 }}" (change)="formUpdate($event)" />
  </p>
  <p>
    <label for="city">City: </label><br/>
    <input type="text" formControlName="city" name="city" id="city" value="{{ value.city }}" (change)="formUpdate($event)" />
  </p>
  <p>
    <label for="zipCode">Zip Code: </label><br/>
    <input type="text" formControlName="zipcode" name="zipcode" id="zipcode" value="{{ value.zipcode }}" (change)="formUpdate($event)" />
  </p>
  <p>
    <label for="country">Country:</label><br/>
    <input type="text" formControlName="country" name="country" id="country" value="{{ value.country }}" (change)="formUpdate($event)" />
  </p>
  <p>
    <button (click)="reset();">Reset</button>
  </p>
</form>

